[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
telegram = "*"
python-telegram-bot = "*"
vk_api = "*"
google-api-python-client = "*"
oauth2client = "*"
dialogflow = "*"


[requires]

python_version = "3.7.3"
